body{
    margin:0;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh;
    margin:0;
    padding:0;
}
/* Designed for 1440 px */
.card img{ 
    width: 22vw;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
.card{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 44vw;
    gap:3vw;
    border-radius: 2%;
}